<div class="animated fadeIn">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Bridge Treads
                </div>
                <div class="card-block">
                    <div class="row" ng-controller="OasysBridgeThreadsCtrl">
                        <div class="col-md-4 px-2">
                            <div class="card-block">
                                <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels">
                                </canvas>
                            </div>
                        </div>
                        <div class="col-md-8 px-2">
                            <table  class="table table-striped table-bordered datatable"  datatable="">
                                <thead>
                                <tr>
                                    <th>BPS</th>
                                    <th>DATE.IN</th>
                                    <th>ELAPSED</th>
                                    <th>MBYTES</th>
                                    <th>MSGS</th>
                                    <th>PROCESS</th>
                                    <th>RATIO</th>
                                    <th>THREAD</th>
                                    <th>TIME.IN</th>
                                    <th>TIME.OU</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="lis in lista">
                                    <td>{{ lis['BPS'] }}</td>
                                    <td>{{ lis['DATE.IN'] }}</td>
                                    <td>{{ lis['ELAPSED'] }}</td>
                                    <td>{{ lis['MBYTES'] }}</td>
                                    <td>{{ lis['MSGS'] }}</td>
                                    <td>{{ lis['PROCESS'] }}</td>
                                    <td>{{ lis['RATIO'] }}</td>
                                    <td>{{ lis['THREAD'] }}</td>
                                    <td>{{ lis['TIME.IN'] }}</td>
                                    <td>{{ lis['TIME.OU'] }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.card-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Bridge Single
                </div>
                <div class="card-block">
                    <div class="row" ng-controller="OasysBridgeSingleCtrl">
                        <div class="col-md-4 px-2">
                            <div class="card-block">
                                <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick"></canvas>
                            </div>
                        </div>
                        <div class="col-md-8 px-2">
                            <table datatable="" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Count</th>
                                    <th>Date ST</th>
                                    <th>Elapsed</th>
                                    <th>Filename</th>
                                    <th>Perf</th>
                                    <th>Time ST</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="lis in lista">
                                    <td>{{ lis.Count }}</td>
                                    <td>{{ lis['Date ST'] }}</td>
                                    <td>{{ lis.Elapsed }}</td>
                                    <td>{{ lis.Filename }}</td>
                                    <td>{{ lis.Perf }}</td>
                                    <td>{{ lis['Time ST'] }}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.card-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Bridge Activity
                </div>
                <div class="card-block">
                    <div class="row" ng-controller="OasysBridgeActivityCtrl">
                        <div class="col-md-4 px-2">
                            <div class="card-block">
                                <canvas id="polar-area" class="chart chart-polar-area" chart-data="data" chart-labels="labels">
                                </canvas>
                            </div>
                        </div>
                        <div class="col-md-8 px-2">
                            <table class="table table-striped table-bordered datatable"  datatable="">
                                <thead>
                                <tr>
                                    <th>Filter</th>
                                    <th>Processor</th>
                                    <th>Recs Read</th>
                                    <th>Source File</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="lis in lista">
                                    <td>{{ lis['Filter'] }}</td>
                                    <td>{{ lis['Processor'] }}</td>
                                    <td>{{ lis['Recs Read'] }}</td>
                                    <td>{{ lis['Source File'] }}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.card-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card" ng-controller="mainChartCtrl">
                <div class="card-header">
                    Traffic
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-6 px-2">
                            <div class="chart-wrapper" style="height:370px">
                                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-click="onClick" chart-options="options" chart-colors="colors"></canvas>
                            </div>
                        </div>
                        <div class="col-md-6 px-2">
                            <div>Visits
                                <span class="font-weight-bold float-right">(40% - 29.703 Users)</span>
                            </div>
                            <div class="progress progress-sm mt-h mb-1">
                                <div class="progress-bar bg-success" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div>Unique
                                <span class="font-weight-bold float-right">(20% - 24.093 Unique Users)</span>
                            </div>
                            <div class="progress progress-sm mt-h mb-1">
                                <div class="progress-bar bg-info" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div>Pageviews
                                <span class="font-weight-bold float-right">(60% - 78.706 Views)</span>
                            </div>
                            <div class="progress progress-sm mt-h mb-1">
                                <div class="progress-bar bg-warning" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div>New Users
                                <span class="font-weight-bold float-right">(80% - 22.123 Users)</span>
                            </div>
                            <div class="progress progress-sm mt-h mb-1">
                                <div class="progress-bar bg-danger" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div>Bounce Rate
                                <span class="font-weight-bold float-right">(40.15%)</span>
                            </div>
                            <div class="progress progress-sm mt-h mb-1">
                                <div class="progress-bar bg-success" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div>Visits
                                <span class="font-weight-bold float-right">(40% - 29.703 Users)</span>
                            </div>
                            <div class="progress progress-sm mt-h mb-1">
                                <div class="progress-bar bg-success" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div>Unique
                                <span class="font-weight-bold float-right">(20% - 24.093 Unique Users)</span>
                            </div>
                            <div class="progress progress-sm mt-h mb-1">
                                <div class="progress-bar bg-info" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.card-->
        </div>
    </div>

</div>

<div ng-controller="toastrWelcome"></div>

