<footer class="app-footer">
    <a href="https://genesisui.com">Oasys</a> &copy; 2017.
    <span class="float-right">
        Powered by <a href="https://genesisui.com">Onsystex </a>
    </span>
</footer>
