<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav" ng-controller="menuLateral">
            <li class="nav-title">
                Dashboard
            </li>

            <li class="divider m-h"></li>



            <li class="nav-item nav-dropdown" ng-repeat-start="menu_ltl in menu_lateral">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i>{{menu_ltl.Main}}</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" ng-if="menu_ltl.Opt1">
                        <a class="nav-link" href="#"><i class="icon-puzzle"></i> {{menu_ltl.Opt1}}</a>
                    </li>
                    <li class="nav-item" ng-if="menu_ltl.Opt2">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.social-buttons"><i class="icon-puzzle"></i> {{menu_ltl.Opt2}}</a>
                    </li>
                    <li class="nav-item" ng-if="menu_ltl.Opt3">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.social-buttons"><i class="icon-puzzle"></i> {{menu_ltl.Opt3}}</a>
                    </li>
                    <li class="nav-item" ng-if="menu_ltl.Opt4">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.social-buttons"><i class="icon-puzzle"></i> {{menu_ltl.Opt4}}</a>
                    </li>
                </ul>
            </li>
            <div ng-repeat-end></div>

        </ul>
    </nav>
</div>
