<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group mb-0">
                    <div class="card p-2">
                        <div class="card-block" ng-controller="ingresoCtrl">
                            <form  ng-submit="ingresoCLick(formIngreso)">
                                <h1>Login</h1>
                                <p class="text-muted">Sign In to your accounts  </p>
                                <div class="input-group mb-1">
                                    <span class="input-group-addon"><i class="icon-user"></i>
                                    </span>
                                    <input type="text" class="form-control" ng-model="formIngreso.username" placeholder="Username">
                                </div>
                                <div class="input-group mb-2">
                                    <span class="input-group-addon"><i class="icon-lock"></i>
                                    </span>
                                    <input type="password" class="form-control" ng-model="formIngreso.password" placeholder="Password">
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary px-2">Login</button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <button type="button" class="btn btn-link px-0">Forgot password?</button>
                                    </div>
                                </div>
                                <div class="row py-1 d-flex justify-content-center">
                                    <span ng-if="mensaje_in">
                                      <div class="alert alert-danger align-items-center" role="alert"> <strong>Error!</strong> {{mensaje_in}}</div>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card card-inverse card-primary py-3 hidden-md-down">
                        <div class="card-block text-center">
                            <div>
                                <img src="img/logo.png" alt="Oasys" width="120px">
                                <h2>Sign up</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <button type="button" class="btn btn-danger active mt-1">Register Now!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
